.main-box {
  margin-top: 45px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  min-height: 2.6rem;
>>>>>>> 完成专栏详情页
=======
  min-height: 2.6rem;
>>>>>>> dd654665d5a00f59a0db26dee62ce67db8412ad0
}

body {
  background: #f8f9f9;
}
